
<form [formGroup]="Patientobj.formPatientGroup"> <br><br>

      <!-- Patient ID: <input [ngModelOptions]="{standalone: true}"
      [(ngModel)]="Patientobj.id" type="text" value=""/><br> -->

      Patient Name:<input type="text" 
                          formControlName="namecontrol" 
                          [(ngModel)]="Patientobj.name" 
                          value=""/><br>
      
      
      <div [hidden]="!(Patientobj.formPatientGroup
                      .controls['namecontrol']
                    .hasError('required'))">
                    
        Patient Name is required
      </div><br><br>
      
      Problem Description:<input type="text"
                                 formControlName="problemdesccontrol" 
                                [(ngModel)]="Patientobj.problemDescription" 
                                 value=""/><br>
    
    
      <div [hidden]="!(Patientobj.formPatientGroup
                    .controls['problemdesccontrol']
                    .hasError('required'))">
                                
          Patient Problem is required
      </div><br><br>


      <input type="submit" [disabled]="!(Patientobj.formPatientGroup.valid)"
                          value="submit" 
                          (click)="Submit()" /><br /><br /><br />
</form>
  
  <br><br>
  <table>
      <tr>
          <th>PATIENT ID</th>
          <th>PATIENT NAME</th>
          <th>PROBLEM DISCRIPTION</th>
      </tr>
      <tr *ngFor="let C of Patientobjs">
              <td>{{C.id}}</td>
              <td>{{C.name}}</td>
              <td>{{C.problemDescription}}</td>
         </tr>
    </table>
  
  
  
  