.bg{
    
    color: black;
    padding: 25px;
 
    
    
  
}

.src{

    color: black;
    background-color: #d0c4d6;
    text-align: center;
    
}

.div{
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 400px;
    border: 4px solid #0a0a0a;
    text-align: center;
}
