.src{
    
    color: black;
    padding: 25px;
 
    
    
  
}

.table{

    color: black;
    background-color: #d0c4d6;
    text-align: center;
    
}

.div{
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 400px;
    border: 3px;
    text-align: center;
}
