<div class="bg">
<h1>
    Welcome to Home Page
</h1>
<div >
    <a style="color:blue;font:icon" [routerLink]="['Home']">
       <strong><i>HOME</i></strong></a>&nbsp;&nbsp;
   
    <a style="color:blue;font:icon" [routerLink]="['/Login']">
       <strong><i>LOGIN</i></strong></a>&nbsp;&nbsp;
    
    <a style="color:blue;font:icon" [routerLink]="['/Patient/Add']">
           <strong><i>Go TO Patient</i></strong></a>&nbsp;&nbsp;
    
    <a style="color:blue;font:icon" [routerLink]="['/Search/Add']">
           <strong><i>Search Patient</i></strong></a>&nbsp;&nbsp;

</div>



</div>
